<section class="links">
  <div class="link">
    <img
      src="https://loremflickr.com/640/360"
      alt="site icon"
      class="site-icon"
    />
    <div>
      <h4 class="site-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h4>
      <p class="preview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        accusamus earum minus rem. Praesentium, nostrum.
      </p>
    </div>
  </div>
  <div class="link">
    <img
      src="https://loremflickr.com/640/360"
      alt="site icon"
      class="site-icon"
    />
    <div>
      <h4 class="site-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h4>

      <p class="preview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        accusamus earum minus rem. Praesentium, nostrum.
      </p>
    </div>
  </div>
  <div class="link">
    <img
      src="https://loremflickr.com/640/360"
      alt="site icon"
      class="site-icon"
    />
    <div>
      <h4 class="site-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h4>
      <p class="preview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        accusamus earum minus rem. Praesentium, nostrum.
      </p>
    </div>
  </div>
  <div class="link">
    <img
      src="https://loremflickr.com/640/360"
      alt="site icon"
      class="site-icon"
    />
    <div>
      <h4 class="site-title">
        Lorem ipsum dolor sit, amet consectetur adipisicing.
      </h4>
      <p class="preview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        accusamus earum minus rem. Praesentium, nostrum.
      </p>
      <div class="actions">
        <i (click)="handleFavorite($event)" class="fas fa-heart favorited"></i>
        <i
          (click)="handleFavorite($event)"
          class="far fa-heart unfavorited"
        ></i>
        <i (click)="handleDelete($event)" class="fas fa-trash delete"></i>
      </div>
    </div>
  </div>
</section>
