@import "./../../colors.scss";

header {
  width: 100%;
  height: 70px;

  background: $blue;
  color: #fff;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  .container {
    width: 80%;
    margin: auto;

    h1 {
      text-align: center;
      line-height: 70px;
    }
  }
}
